@model IEnumerable<CRUD_Repository.Core.Product>

@{
    ViewData["Title"] = "Product List";
}


<h3>@ViewData["Title"]</h3>

<hr/>
<form>
    <button asp-action="CreateOrEdit" asp-controller="Product" class="btn btn-primary mb-3">Add Product</button>
<table class="table table-responsive table-bordered table-hover">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            @foreach(var product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td>@product.Price</td>
                    <td>@product.Qty</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a asp-controller="Product" asp-action="CreateOrEdit" asp-route-id="@product.ProductID" class="btn btn-success">Edit</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductID" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <div>
                        No Products data avaiable at this moment!
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</form>